{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow border-0">

                <div class="card-header bg-danger text-white">

                    <h4>

                        Change Password

                    </h4>

                </div>

                <div class="card-body">

                    <form method="POST">

                        <div class="mb-3">

                            <label>

                                Old Password

                            </label>

                            <input type="password"
                                   class="form-control"
                                   name="old_password">

                        </div>

                        <div class="mb-3">

                            <label>

                                New Password

                            </label>

                            <input type="password"
                                   class="form-control"
                                   name="new_password">

                        </div>

                        <div class="mb-3">

                            <label>

                                Confirm Password

                            </label>

                            <input type="password"
                                   class="form-control"
                                   name="confirm_password">

                        </div>

                        <button class="btn btn-danger">

                            Update Password

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}